<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{analyticsId}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{analyticsId}}');
</script>
{{#if user}}
	<h5>Welcome Back {{user.username}}!</h5>
	<ul class="menu horizontal">
	<li><a href="/{{type}}s/classes">My Classes</a></li>
	<li><a href="/users/logout">Logout</a></li>
	</ul>
{{else}}
<h4>Login</h4>
	<form method="post" action="/users/login">
		<label> Username: </label>
		<input type="text" name="username">
		<label> Password: </label>
		<input type="password" name="password">
		<input type="submit" class="button" value="Login">
	</form>
{{/if}}