<!DOCTYPE html>
<html>
<head>
<title>ProgMagus</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/stylesheets/kickstart.css" media="all" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all" />                 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/kickstart.js"></script>                       
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{process.env.G_ANALYTICS}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', process.env.G_ANALYTICS);
</script>
<body>

<!-- Menu Horizontal -->
<ul class="menu">
<li class="current"><a href="/">Home</a></li>
<li><a href="/classes">Classes</a></li>
<li><a href="/us">About Us</a></li>
</ul>

<div class="grid">
<div class="col_12">
	<div class="col_9">
		{{#if success_msg}}
			<div class="notice success"><i class="icon-remove-sign icon-large"></i> {{success_msg}}
				<a href="#close" class="icon-remove"></a>
			</div>
		{{/if}}

		{{#if error_msg}}
			<div class="notice error"><i class="icon-remove-sign icon-large"></i> {{error_msg}}
				<a href="#close" class="icon-remove"></a>
			</div>
		{{/if}}

		{{#if error}}
			<div class="notice error"><i class="icon-remove-sign icon-large"></i> {{error}}
				<a href="#close" class="icon-remove"></a>
			</div>
		{{/if}}
		{{{body}}}
	</div>
	
	<div class="col_3">
		{{>login}}
	</div>
	
	<hr />
	
		{{!-- {{>classes}} --}}
		{{!-- I need to add something here... Looks empty :( --}}

	{{!-- <p>
		Welcome to the ProgMagus Python Programming Learning Management System (LMS)! Dive into the exciting world of Python programming with our comprehensive and user-friendly platform.


	<ul>Key Features:</ul>

	<li>Python Essentials: Whether you're a beginner or an experienced developer, our LMS caters to all levels of Python enthusiasts. Start with the fundamentals and progress to advanced topics with ease.</li>

	<li>Interactive Lessons: Engage with interactive and hands-on lessons that make learning Python a breeze. Practice your coding skills directly in the browser with our integrated code editor.</li>

	</p> --}}
</div>

</div><!-- END GRID -->

<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>


</body></html>