<!DOCTYPE html>
<html>
<head>
    <!-- Add your CSS and JavaScript includes here -->
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{analyticsId}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{analyticsId}}');
</script>
<body>
    <a href="/classes/{{class._id}}/lessons">Back to lesson</a>
    <h2>Edit Lesson</h2>

    <form id="editLessonForm" method="post" action="/classes/{{class._id}}/lessons/{{lesson.lesson_number}}/edit">
        <!-- Lesson Number Input -->
        <div class="span-6">
            <label>Lesson Number:</label>
            <input type="text" name="lesson_number" value="{{lesson.lesson_number}}">
        </div>

        <!-- Lesson Title Input -->
        <div class="span-6">
            <label>Lesson Title:</label>
            <input type="text" name="lesson_title" value="{{lesson.lesson_title}}">
        </div>

        <!-- Lesson Body Textarea -->
        <div class="span-12">
            <label>Lesson Body:</label>
            <textarea name="lesson_body">{{lesson.lesson_body}}</textarea>
        </div>

        <!-- Lesson Code Textarea -->
        <div class="span-12">
            <label>Lesson Code:</label>
            <textarea name="lesson_code">{{lesson.lesson_code}}</textarea>
        </div>

        <!-- Lesson Body Textarea -->
        <div class="span-12">
            <label>Lesson Body:</label>
            <textarea name="lesson_body2">{{lesson.lesson_body}}</textarea>
        </div>

        <!-- Lesson Code Textarea -->
        <div class="span-12">
            <label>Lesson Code:</label>
            <textarea name="lesson_code2">{{lesson.lesson_code}}</textarea>
        </div>

        <!-- Lesson Body Textarea -->
        <div class="span-12">
            <label>Lesson Body:</label>
            <textarea name="lesson_body3">{{lesson.lesson_body}}</textarea>
        </div>

        <!-- Lesson Code Textarea -->
        <div class="span-12">
            <label>Lesson Code:</label>
            <textarea name="lesson_code3">{{lesson.lesson_code}}</textarea>
        </div>

        <!-- Submit Button -->
        <div>
            <input type="submit" value="Update Lesson">
        </div>
    </form>
</body>
</html>
