<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{process.env.G_ANALYTICS}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', process.env.G_ANALYTICS);
</script>

<h1>Classes</h1>
{{#each classes}}
	<div class="block">
		<h3>{{title}}</h3>
		<p>
			{{description}}
		</p>
		<p>Instructor: <strong>{{instructor}}</strong></p>
		<a class="button" href="/classes/{{_id}}/details">Class Details</a>
	</div>
{{/each}}