<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{process.env.G_ANALYTICS}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', process.env.G_ANALYTICS);
</script>

<h2>{{class.title}}'s Classes</h2>
<table cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<th>Lesson Number</th>
			<th>Lesson Title</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each class.lessons}}
			<tr>
				<td>{{lesson_number}}</td>
				<td>{{lesson_title}}</td>
				<td><a href="/classes/{{../class._id}}/lessons/{{lesson_number}}">View Lesson</a></td>
				<!-- Add an "Edit Lesson" button for instructors -->
				{{!-- <td><a href="/classes/{{../class._id}}/lessons/{{lesson_number}}/edit">Edit Lesson</a></td> --}}
			</tr>
		{{/each}}
	</tbody>
</table>
