<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{analyticsId}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{analyticsId}}');
</script>

<h2>{{class.title}}'s Classes</h2>
<table cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<th>Lesson Number</th>
			<th>Lesson Title</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each class.lessons}}
			<tr>
				<td>{{lesson_number}}</td>
				<td>{{lesson_title}}</td>
				<td><a class="view_lesson" href="/classes/{{../class._id}}/lessons/{{lesson_number}}"><button>View Lesson</button></a></td>
				<!-- Add an "Edit Lesson" button for instructors -->
				{{!-- <td><a href="/classes/{{../class._id}}/lessons/{{lesson_number}}/edit">Edit Lesson</a></td> --}}
			</tr>
		{{/each}}
	</tbody>
</table>
<style>
.view_lesson {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.view_lesson button {
    @include button();
    @include button-color('#6495ed');
    cursor: pointer; /* Ensure cursor changes on hover */
}
</style>